@import "../../vars/light";

.light-theme {
    .page-contact {
        .social-link {
            svg path {
                fill: $text-color;
            }

            &:hover {
                background: $primary;
                border: 1px solid $primary;

                svg path {
                    fill: white;
                }
            }
        }
    }


    .type-message {

        input[type='radio'] + label {
            border: 1px solid $lines;

            &:before {
                border: 1px solid rgba($gray, 0.3);
            }
        }

        input[type='radio']:checked + label {

            border-color: $primary;

            &:after {
                background: $primary;
            }
        }
    }

    .cell-field {
        &.required {
            .cell-field__label {
                &:before {
                    color: $primary;
                }
            }
        }

        &__input {
            border: 1px solid $lines;
            background: $background;

            &:hover {
                border-color: $primary;
            }

            &:focus {
                border-color: $primary;
            }
        }
    }

    button.button {
        border: 1px solid $text-color;

        svg path {
            stroke: $text-color;
        }

        &:hover {
            border-color: $primary;
            background: $primary;
            color: white;

            svg path {
                stroke: white;
            }
        }

        &:focus {
            outline: #007de8;
        }
    }
}
