@import "../../vars/light";

.light-theme {
    .project-page {
        &__back {
            color: $gray;
            svg {
                path {
                    stroke: $gray;
                }
            }

            &:hover {
                svg {
                    transform: translateX(-3px);

                    path {
                        stroke: $primary;
                    }
                }
            }
        }

        &__data {
            border-left: 1px solid $lines;
        }

        .tool {
            border-color: $lines;
        }

        .project-data {
            scroll-behavior: smooth;

            &__preview, &__project-description {
                position: relative;
                height: 300px;

                img {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            &__project-description {
                height: auto;
            }

            .task {
                position: relative;
                &:before {
                    content: '';
                    height: 2px;
                    width: 14px;
                    background: $text-color;
                    position: absolute;
                    top: 13px;
                    left: 0;
                }
            }
        }

    }
}
