@import "../../vars/light";

.light-theme {
    .tabs {
        border-bottom: 1px solid $lines;
    }

    li {
        position: relative;

        &:before {
            transition: .3s;
            content: '';
            display: block;
            width: 40px;
            height: 4px;
            background: transparent;
            position: absolute;
            bottom: -2px;
            left: 50%;
            margin-left: -20px;
        }

        &.is-active {
            &:before {
                background: $primary;
            }
        }
    }

    & .page-skills  {
        .area {
            font-weight: 500;
        }
    }

    .numder {
        font-weight: 200 !important;
        &-active {
            color: $primary;
        }
    }

    span.numders__line {
        display: block;
        height: 1px;
        width: 70px;
        background: $back-menu;
    }

    .skills {
        border-left: 1px solid $lines;

        &__list {
            & .skill {
                border: 1px solid $lines;
                padding: 0.7em 1em;
                margin: 0 20px 20px 0;
                height: fit-content;
                width: fit-content;

                &:hover {
                    border: 1px solid $primary;
                    color: $lines;
                    background: $primary;
                }
            }
        }
    }

    .nav {
        .arrows {
            svg{
                cursor: pointer;
                path {
                    stroke: $text-color;
                }

                &:hover {
                    path {
                        stroke: $primary;
                    }
                }
            }
        }
    }

    .slider {
        &__item {
            //font-weight: 600;
            bottom: -18px;
        }
        &__footer {
            border-top: 1px solid $lines;
        }
    }
}

